{% extends 'blog/base.html' %}

{% block head_title %}
{{ post.title }} - Blog
{% endblock %}

{% block main_area %}
<div id="post-area">
    <!-- Title -->
    <h1 class="mt-4">{{ object.title }}</h1>

    <!-- Author -->
    <p class="lead">
        by
        <a href="#">{{ post.author | upper }}</a>
    </p>

    <hr>

    <!-- Date/Time -->
    <p>Posted on {{ post.created_at }}</p>

    <hr>

    <!-- Preview Image -->
    <!-- DetailView에서는 기본적으로 <model명 소문자> 또는 'object'를 context 변수명으로 사용 -->
    {% if post.head_image %}
    <img class="img-fluid rounded" src="{{ post.head_image.url }}">
    {% else %}
    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.pk }}/500/300"> <!-- 저장된 이미지가 없으면 랜덤 이미지 보여주기 / 참고 : https://picsum.photos/ -->
    {% endif %}

    <hr>

    <!-- Post Content -->
    <p>{{ post.content }}</p>

    <!-- File Download Button -->
    {% if post.file_upload %}
    <a href="{{ post.file_upload.url }}" class="btn btn-outline-primary" role="button" download>
        Download :
        {% if post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fa-regular fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' %}
        <i class="fa-regular fa-file-word"></i>
        {% elif post.get_file_ext == 'pdf' %}
        <i class="fa-regular fa-file-pdf"></i>
        {% elif post.get_file_ext == 'png' or post.get_file_ext == 'jpg' or post.get_file_ext == 'jpeg' or post.get_file_ext == 'svg' %}
        <i class="fa-regular fa-image"></i>
        {% elif post.get_file_ext == 'csv' %}
        <i class="fa-regular fa-file-csv"></i>
        {% else %}
        <i class="fa-regular fa-file-lines"></i>
        {% endif %}
        {{ post.get_file_name }}
    </a>
    {% endif %}
    <hr>
</div>

<div id="comment-area">
    <!-- Comments Form -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <!-- Single Comment -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <!-- Comment with nested comments -->
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

            <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}