<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Blog</title>
    <link href="{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <nav>
        <a href="/">main</a>
        <a href="/blog/">Blog</a>
        <a href="/about_me/">About Me</a>
    </nav>
    <!-- DetailView에서는 기본적으로 'model명'을 context 변수명으로 사용 -->
    {% if post.head_image %}
        <img src="{{ post.head_image.url }}">
    {% endif %}
    <h1>{{ post.title }}</h1>
    <h3>{{ post.created_at }}</h3>
    <p>{{ post.content }}</p>
    <hr>
</body>
</html>