<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link href="{% static 'blog/css/index.css' %}" rel="stylesheet" type="text/css">
</head>
    <body>
        <nav>
            <a href="/">main</a>
            <a href="/about_me/">About Me</a>
        </nav>
        <h1>Blog</h1>
        {% for i in post_list %} <!-- ListView에서는 기본적으로 'model명' + '_list'를 context 변수명으로 사용 -->
            <hr>
            <!--<h3><a href="{{ i.pk }}">title : [{{ i.pk }}] {{ i.title }}</a></h3>-->
            {% if i.head_image %}
                <img src="{{ i.head_image.url }}">
            {% endif %}
            <h3><a href="{{ i.get_absolute_url }}">title : [{{ i.pk }}] {{ i.title }}</a></h3> <!-- .get_absolute_url : 장고에서 기본 제공. 하지만 models.py에서 정의를 해주어야 함 -->
            <p>content : {{ i.content }}</p>
            <p>date : {{ i.created_at }}</p>
        {% endfor %}
    </body>
</html>